---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import '../styles/styles.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About - Mapleton Springs B&B</title>
    </head>
    <body>
        <Navbar />
        <img src="pool.webp" />
        <section class="">
            <h1 class="font-bold">About</h1>
            <img src="/rachel_with_koala.webp" class="m-auto p-16" />
            <p>
                Hello, <br> My name is Rachel and I look forward to welcoming you to
                my home in the near future.<br><br>Initially I came to Australia
                from UK to participate in Operation Raleigh and returned back to
                apply for immigration. I enjoyed 10 years as an early childhood
                teacher and have had minor roles in TV & Commercials. Before
                moving to Australia I was also a presenter for BBC radio. I have
                enjoyed acting in the local amateur theatre in Nambour.<br><br>As a
                licenced volunteer wildlife carer I often have animals in care
                and will be happy to share my knowledge with you in regard to
                rescuing and caring for orphaned wildlife. I am also a volunteer
                with the local SES and Mapleton and Kureelpa Rural Fire
                Brigades.
            </p>
        </section>

        <Footer />
    </body>
</html>
