---
import Navbar from "../components/navbar.astro";
import AmenityCard from "../components/amenity_card.astro";
import Footer from "../components/footer.astro";
import KingSuite from "../components/king_suite.astro";
import KingSuiteSpa from "../components/king_suite_spa.astro";
import "../styles/styles.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Mapleton Springs</title>
        <script src="../scripts/initMap.js"></script>
    </head>
    <body>
        <Navbar />
        <div class="max-h-screen xl:h-screen overflow-hidden relative">
            <h1
                class="text-white tracking-wider text-2xl absolute bottom-0 p-4 z-10 bg-slate-800 pl-8 bg-opacity-50 w-full md:text-7xl lg:text-8xl xl:9xl md:bottom-10 md:bg-transparent"
            >
                RELAX<br /> RECUPERATE AND<br /> RECONNECT
            </h1>
            <img src="/pool.webp" class="md:brightness-50" />
        </div>
        <section>
            <h1 class="">Mapleton Springs Luxury Accommodation</h1><br />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p><br />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p><br />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p><br />
        </section>
        <section class="bg-slate-800 text-white text-center xl:px-96">
            <h1 class="text-white">You'll Love Our...</h1><br />
            <AmenityCard title="Swimming Pool">
                <img src="/pool.svg" class="h-16 m-auto opacity-70" />
            </AmenityCard>
            <AmenityCard
                title="Hot Tub"
                description="Careful of this one: the cool breeze and clear starry skies of the hinterland makes leaving our spa a challenge!"
            >
                <img src="/hot_tub.svg" class="h-16 m-auto opacity-70" />
            </AmenityCard>
            <AmenityCard
                title="Cinema Room"
                description="Fully blacked-out with an immersive sound system, our cinema room has streaming services, live TV and an XBox all available."
            >
                <img src="/cinema.svg" class="h-16 m-auto opacity-70" />
            </AmenityCard>
            <AmenityCard title="Wood Fire">
                <img src="/fireplace.svg" class="h-16 m-auto opacity-70" />
            </AmenityCard>
            <AmenityCard title="Barbeque">
                <img src="/bbq.svg" class="h-16 m-auto opacity-70" />
            </AmenityCard>
        </section>
        <section class="">
            <div
                id="carousel"
                class="relative overflow-hidden h-carousel m-auto max-w-xl"
            >
                <KingSuiteSpa /><KingSuite />
            </div>
            <script>
                const slide1 = document.getElementById("slide1");
                const slide2 = document.getElementById("slide2");
                slide1.classList.add(
                    "absolute",
                    "bg-white",
                    "duration-700",
                    "transition",
                );
                slide2.classList.add(
                    "transition",
                    "duration-700",
                    "absolute",
                    "translate-x-full",
                    "bg-white",
                );
                function cycleSlides() {
                    if (slide1.classList.contains("translate-x-full")) {
                        slide1.classList.remove("translate-x-full");
                    } else {
                        slide1.classList.add("translate-x-full");
                    }
                    if (slide2.classList.contains("translate-x-full")) {
                        slide2.classList.remove("translate-x-full");
                    } else {
                        slide2.classList.add("translate-x-full");
                    }
                }
                window.setInterval(cycleSlides, 5000);
            </script>
        </section>
        <section class="bg-slate-800 text-white">
            <h1 class="text-white">About Mapleton Springs</h1><br />
            <p class="opacity-70">
                Overlooking the Sunshine Coast Hinterland, Mapleton Springs is
                situated on 3.5 acres and surrounded by 200 acres of peaceful
                reserve. Surrounded by native wildlife including a wide variety
                of birds (including regular barn owls nesting) and wallabies.
                Mapleton Springs is 4 minutes from the village of Mapleton, 35
                minute drive to Australia Zoo and 30 minutes to Eumundi Markets.
            </p>
        </section>
        <section class="">
            <div class="border-b border-slate-800">
                <h1 class="">Address</h1><br />
                <p>87 Spring Pastures Drive</p>
                <p>Mapleton QLD 4560</p><br />
            </div>
            <div class="border-b border-slate-800">
                <br /><h1 class="">Contact</h1><br />
                <p>mapletonsprings@bigpond.com</p><br />
            </div>
            <br /><p class="text-xs">
                If you have any questions or would like to receive further
                information, please send us an email and we'd be delighted to
                help you.
            </p>
        </section>
        <div id="map" class="h-96 xl:mx-96"></div><br />
        <script>
            //prettier-ignore
            (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "AIzaSyCSBJQheT-4dh9827HRHxlvEpqajggZvqI", v: "weekly"});
        </script>
        <Footer />
    </body>
</html>
