---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import '../styles/styles.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reviews - Mapleton Springs</title>
    </head>
    <body>
        <Navbar />
        <div class="bg-slate-800 h-24"></div>
        <h1 class="font-bold p-16">Reviews</h1>
        <img src="/review_widget_placeholder.png" class="m-auto">
        <section class="">
            
            <img src="/sunrise_mist.png" />
            <p>
                "If you're considering booking here, and a beautiful few days is
                what you're chasing, then just book... You will not be
                disappointed I promise."
            </p>
            <cite class="">Kevin C, Trip Advisor</cite>
        </section>
        <section class=" bg-slate-100">
            <img src="/review1_photo.webp" />
            <p>
                "If you're considering booking here, and a beautiful few days is
                what you're chasing, then just book... You will not be disappointed
                I promise."
            </p>
            <cite class="">Kevin C, Trip Advisor</cite>
        </section>
        <section class="">
            <img src="/review1_photo.webp" />
            <p>
                "If you're considering booking here, and a beautiful few days is
                what you're chasing, then just book... You will not be disappointed
                I promise."
            </p>
            <cite class="">Kevin C, Trip Advisor</cite>
        </section>

        <Footer />
    </body>
</html>
