---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import '../styles/styles.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reviews - Mapleton Springs</title>
    </head>
    <body>
        <Navbar />
        <div class="bg-slate-800 h-24"></div>
        <section class="">
            <h1 class="font-bold">Reviews</h1>
            <img src="/review_widget_placeholder.png" class="m-auto pt-16">
        </section>
        <section class="flex flex-col md:flex-row bg-slate-100">
            <div class="pb-4 pr-8"><img src="/sunrise_mist.png" /></div>
            <p class="max-w-xl my-auto">
                "If you're considering booking here, and a beautiful few days is
                what you're chasing, then just book... You will not be
                disappointed I promise."<br>
                <cite class="text-sm">Kevin C, Trip Advisor</cite>
            </p>
        </section>
        <section class="flex flex-col md:flex-row">
            <div class="pb-4 pr-8"><img src="/sunrise_mist.png" /></div>
            <p class="max-w-xl my-auto">
                "If you're considering booking here, and a beautiful few days is
                what you're chasing, then just book... You will not be
                disappointed I promise."<br>
                <cite class="text-sm">Kevin C, Trip Advisor</cite>
        </section>
        <section class="flex flex-col md:flex-row bg-slate-100">
            <div class="pb-4 pr-8"><img src="/sunrise_mist.png" /></div>
            <p class="max-w-xl my-auto">
                "If you're considering booking here, and a beautiful few days is
                what you're chasing, then just book... You will not be
                disappointed I promise."<br>
                <cite class="text-sm">Kevin C, Trip Advisor</cite>
        </section>

        <Footer />
    </body>
</html>
