---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import KingSuite from "../components/king_suite.astro";
import KingSuiteSpa from "../components/king_suite_spa.astro";
import '../styles/styles.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Our Rooms - Mapleton Springs B&B</title>
    </head>
    <body>
        <Navbar></Navbar>
        <img src="/pool_mist.webp" />
        <section class="">
            <h1 class="font-bold">Our Rooms</h1><br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat.</p>
        </section>
    </body>
    <section class="bg-slate-100">
        <KingSuite />
        <script>
            const kingSuite = document.getElementById("slide1");
            kingSuite.classList.remove("absolute","bg-white");
        </script>
    </section>
    <section class="">
        <KingSuiteSpa />

    </section>
    <Footer></Footer>
</html>
