---
const { title } = Astro.props;
const {
    description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
} = Astro.props;
---

<div class="border-t py-8 text">
    <slot />
    <h2 class="font-bold tracking-wider">{title}</h2>
    <p class="opacity-70 text-base">{description}</p>
</div>
