<div
    id="drawer"
    class="bg-slate-800 text-white w-60 absolute z-10 -translate-x-60 transition shadow-2xl h-screen"
>
    <img src="/x.svg" id="exitButton" class="float-right">
    <div class="*:border-t p-8 flex *:py-4 flex-col">
        <a href="/index.html">Home</a>
        <a href="/rooms.html">Rooms</a>
        <a href="/facilities.html">Facilities</a>
        <a href="/reviews.html">Reviews</a>
        <a href="/about.html">About</a>
    </div>
</div>

<div id="slideout-mask" class="fixed bg-black opacity-50 h-screen w-screen hidden"></div>

<script>
    const exitButton = document.getElementById("exitButton");
    const drawer = document.getElementById("drawer");
    const slideoutMask = document.getElementById("slideout-mask");

    function closeDrawer() {
        drawer.classList.add('-translate-x-60');
        slideoutMask.classList.add("hidden");
    }

    exitButton.addEventListener("click", closeDrawer);
    slideoutMask.addEventListener("click", closeDrawer);
</script>
