<div
    id="drawer"
    class="bg-white w-60 h-96 absolute z-50 -translate-x-60 transition"
>
    <img src="/x.svg" id="exitButton" class="float-right">
    <div class="*:border-t p-8 flex *:py-4 flex-col">
        <a href="index.html">Home</a>
        <a href="rooms.html">Rooms</a>
        <a href="facilities.html">Facilities</a>
        <a href="reviews.html">Reviews</a>
        <a href="about.html">About</a>
    </div>
</div>

<script>
    const exitButton = document.getElementById("exitButton");
    const drawer = document.getElementById("drawer");

    function closeDrawer() {
        drawer.classList.add('-translate-x-60');
    }

    exitButton.addEventListener("click", closeDrawer);
</script>
