<div class="bg-slate-800 text-white flex flex-col items-center p-8">
    <div>
        <h1>Follow Us On</h1><br>
        <a href="https://www.facebook.com/MapletonSpring"><img src="/facebook.svg" class="h-10 inline"></a>
        <a href="https://www.instagram.com/accommodation_sunshine_coast/"><img src="/instagram.svg" class="h-10 inline"></a>
    </div>
    <img src="/brand_logo_nobg.png" class="w-40 p-8">
</div>