---
import BookNow from "../components/book_now.astro";
---

<div id="slide2" class="">
    <img src="/king_suite.webp" /><br>
    <h1 class="text-2xl border-b">King Suite with Spa - Attached to Main Residence</h1><br />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
    </p><br />
    <div class="text-sm *:inline">
        <img src="/bed_icon.svg" class="h-6 pr-2 -translate-y-1" /><p>Max Guests - 2</p><br>
        <img src="/wifi_icon.svg" class="h-6 pr-2 -translate-y-1" /><p>High Speed WiFi</p><br>
        <img src="/people_icon.svg" class="h-6 pr-2 -translate-y-1" /><p>Bed Size - King</p><br>
        <img src="/tv_icon.svg" class="h-6 pr-2 -translate-y-1" /><p>Netflix</p><br>
        <img src="/bed_icon.svg" class="h-6 pr-2 -translate-y-1" /><p>Features...</p><br /><br><br>
    </div>
    <BookNow />
</div>
