---
import Drawer from "../components/drawer.astro";
---

<nav id="navbar" class="w-full z-20 h-24 absolute bg-slate-800 bg-opacity-30">
    <Drawer />
    <div class="flex items-center h-full px-8 justify-between">
        <img src="/hamburger.svg" id="hamburgerButton" class="h-10" />
        <a href="/index.html" class="h-3/5">
            <img src="/brand_logo_nobg.png" class="h-full" />
        </a>
        <a href="https://book-directonline.com/properties/mapletonspringsdirect" class="bg-slate-900 text-white p-2 shadow-xl font-bold">BOOK NOW</a>
    </div>
</nav>

<script>
    const hamburgerButton = document.getElementById("hamburgerButton");
    const drawer = document.getElementById("drawer");

    function openDrawer() {
        drawer.classList.remove("-translate-x-60");
    }

    hamburgerButton.addEventListener("click", openDrawer);

    const navbar = document.getElementById("navbar");

    document.addEventListener("scroll", scrollCheck);

    function scrollCheck() {
        if (scrollY != 0) {
            navbar.classList.remove("absolute");
            navbar.classList.add("fixed");
            navbar.classList.remove("bg-opacity-30");
        }
        if (scrollY == 0) {
            navbar.classList.remove("fixed");
            navbar.classList.add("absolute");
            navbar.classList.add("bg-opacity-30");
        }
        // CLOSE DRAWER ON SCROLL
        if (!drawer.classList.contains("-translate-x-60")) {
            drawer.classList.add("-translate-x-60")
        }
    }

</script>
