---
import Drawer from "../components/drawer.astro";
---

<nav class="w-full z-10 h-24 absolute">
    <Drawer />
    <div class="bg-slate-800 opacity-30 w-full h-full absolute"></div>
    <div class="flex items-center h-full px-8 justify-between">
        <img src="/hamburger.svg" id="hamburgerButton" class="z-20 h-10" />
        <a href="index.html" class="h-3/5 z-20">
            <img src="brand_logo_nobg.png" class="h-full" />
        </a>
        <a href="https://book-directonline.com/properties/mapletonspringsdirect" class="z-20">Book Now</a>
    </div>
</nav>

<script>
    const hamburgerButton = document.getElementById("hamburgerButton");
    const drawer = document.getElementById("drawer");

    function openDrawer() {
        drawer.classList.remove("-translate-x-60");
    }

    hamburgerButton.addEventListener("click", openDrawer);
</script>
